In [44]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./anaconda3/lib/python3.11/site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in ./anaconda3/lib/python3.11/site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [45]:
import mysql.connector

In [46]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="S@urabh7",
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x11fba11d0>

In [47]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE Food_Services")

In [48]:
mycursor.execute("USE Food_Services")

In [49]:
pip install pandas sqlalchemy

Requirement already satisfied: pandas in ./anaconda3/lib/python3.11/site-packages (2.1.4)
Requirement already satisfied: sqlalchemy in ./anaconda3/lib/python3.11/site-packages (1.4.39)
Requirement already satisfied: numpy<2,>=1.23.2 in ./anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in ./anaconda3/lib/python3.11/site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [39]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 727.5 kB/s eta 0:00:000:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

# Loading the Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
food = pd.read_excel('/Users/saurabhingole/Downloads/bepec/Data Analytic Project-2/Food_services.docx-EmbeddedFile.xlsx')

In [3]:
food

,NAME,CITY,STATE,ZIP,ZIP_PLUS4,COUNTY_CODE,COUNTY_NAME,MSA,MARKET_SEGMENT,SIMPLIFIED_MENU,...,AVERAGE_CHECK,NUMBER_OF_ROOMS,FOOD_BEVERAGE_PURCHASE,FOOD_PURCHASE,BEVERAGE_PURCHASE,TOTAL_CATEGORY_DRY,TOTAL_CATEGORY_FRESH,TOTAL_CATEGORY_FROZEN,TOTAL_CATEGORY_PROTEIN,% Share of F&B Purchases from Company
0,APPLEBEE'S,POTTSTOWN,PA,19464,NaN,42091.0,MONTGOMERY,6162.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,$10 TO $15,NOT APPLICABLE,5.972901e+05,5.450067e+05,52283.413973,73292.586865,96286.339607,124412.626443,212623.779075,0.578681
1,STANS RESTAURANT,SAN LEANDRO,CA,94577,3236.0,6001.0,ALAMEDA,7362.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,$15 TO $20,NOT APPLICABLE,3.974294e+04,3.626407e+04,3478.873227,4876.797417,6406.773077,8278.261162,14147.721358,0.339348
2,THANH THANH,OAKLAND,CA,94606,2978.0,6001.0,ALAMEDA,7362.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,$15 TO $20,NOT APPLICABLE,3.974294e+04,3.626407e+04,3478.873227,4876.797417,6406.773077,8278.261162,14147.721358,0.646409
3,DOMINO'S PIZZA,WENDELL,NC,27591,6904.0,37183.0,WAKE,6640.0,"LSR - QUICK SERVICE RESTAURANTS, FAST FOOD, SN...","PIZZA, PASTA & ITALIAN",...,$7 TO $10,NOT APPLICABLE,2.826061e+05,2.313297e+05,51276.433054,49474.097973,27035.026215,58876.279313,53078.768135,0.797020
4,NINNA RESTAURANT,OAKLAND,CA,94611,5221.0,6001.0,ALAMEDA,7362.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",OTHER ASIAN,...,$15 TO $20,NOT APPLICABLE,4.264537e+04,4.004276e+04,2602.607391,6395.821567,8260.449546,5938.274331,15827.198446,0.655083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,SUBWAY,CARROLLTON,TX,75010,6337.0,48121.0,DENTON,1922.0,"LSR - QUICK SERVICE RESTAURANTS, FAST FOOD, SN...","SANDWICHES, SOUPS AND SALADS, DELI, SUBS & HOT...",...,$5 TO $7,NOT APPLICABLE,1.264464e+05,1.082253e+05,18221.074108,20302.620653,19035.592321,27723.786598,26652.845984,0.987625
996,RED LOBSTER,INGLEWOOD,CA,90303,1264.0,6037.0,LOS ANGELES,4472.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING","STEAK, SEAFOOD & FISH",...,$10 TO $15,NOT APPLICABLE,1.096238e+06,1.026739e+06,69498.776116,142453.292480,191473.607862,182514.281291,440158.915398,0.599890
997,REYNOLDS CAFE,NAUGATUCK,CT,6770,3216.0,9009.0,NEW HAVEN,5602.0,"FSR - CAF╔-RESTAURANTS, FAMILY-STYLE, DINER",CLASSIC & VARIED MENU,...,$15 TO $20,NOT APPLICABLE,4.240708e+04,3.843948e+04,3967.601528,5235.276904,6858.790982,9732.188501,13174.927943,0.302793
998,PUEBLO VIEJO,PORT SAINT LUCIE,FL,34952,5469.0,12111.0,SAINT LUCIE,2710.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,$15 TO $20,NOT APPLICABLE,8.948728e+04,8.165407e+04,7833.212973,10980.852218,14425.825462,18639.765949,31855.749617,0.497217
999,BUFFALO WILD WINGS,DEARBORN,MI,48124,2225.0,26163.0,WAYNE,2162.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING","BAR & GRILL, BREW PUB, & EATERTAINMENT",...,$10 TO $15,NOT APPLICABLE,5.653861e+05,5.257160e+05,39670.082460,73253.221050,91863.877018,114742.390183,199189.990762,0.666672

In [4]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 25 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   NAME                                   1000 non-null   object
 1   CITY                                   1000 non-null   object
 2   STATE                                  1000 non-null   object
 3   ZIP                                    1000 non-null   int64
 4   ZIP_PLUS4                              962 non-null    float64
 5   COUNTY_CODE                            999 non-null    float64
 6   COUNTY_NAME                            999 non-null    object
 7   MSA                                    826 non-null    float64
 8   MARKET_SEGMENT                         1000 non-null   object
 9   SIMPLIFIED_MENU                        1000 non-null   object
 10  MENU_TYPE                              1000 non-null   object
 11  UNITS                                  1000 non-null   object
 12  EMPLOYEES                              1000 non-null   object
 13  YEARS_IN_BUSINESS                      1000 non-null   object
 14  ANNUAL_SALES                           1000 non-null   object
 15  AVERAGE_CHECK                          1000 non-null   object
 16  NUMBER_OF_ROOMS                        1000 non-null   object
 17  FOOD_BEVERAGE_PURCHASE                 889 non-null    float64
 18  FOOD_PURCHASE                          889 non-null    float64
 19  BEVERAGE_PURCHASE                      889 non-null    float64
 20  TOTAL_CATEGORY_DRY                     889 non-null    float64
 21  TOTAL_CATEGORY_FRESH                   889 non-null    float64
 22  TOTAL_CATEGORY_FROZEN                  889 non-null    float64
 23  TOTAL_CATEGORY_PROTEIN                 889 non-null    float64
 24  % Share of F&B Purchases from Company  889 non-null    float64
dtypes: float64(11), int64(1), object(13)
memory usage: 195.4+ KB

In [5]:
food.shape

(1000, 25)

In [6]:
food.describe()

,ZIP,ZIP_PLUS4,COUNTY_CODE,MSA,FOOD_BEVERAGE_PURCHASE,FOOD_PURCHASE,BEVERAGE_PURCHASE,TOTAL_CATEGORY_DRY,TOTAL_CATEGORY_FRESH,TOTAL_CATEGORY_FROZEN,TOTAL_CATEGORY_PROTEIN,% Share of F&B Purchases from Company
count,1000.000000,962.000000,999.000000,826.000000,8.890000e+02,8.890000e+02,889.000000,889.000000,889.000000,889.000000,889.000000,889.000000
mean,49922.537000,4136.732848,28399.210210,4645.102906,2.225230e+05,1.958903e+05,26632.674378,34136.757064,31950.666057,39983.439232,66249.473438,0.486759
std,30092.474019,2344.678645,16242.608966,2542.079580,2.155446e+05,1.950944e+05,26123.888311,30729.699583,33720.292964,38532.342268,80029.422926,0.288320
min,1001.000000,1.000000,1003.000000,120.000000,2.384444e+04,1.729385e+04,1764.301190,3548.255408,3186.158504,2968.901712,0.000000,0.001300
25%,23332.500000,2288.750000,12099.000000,2162.000000,8.839871e+04,7.858661e+04,8016.614086,12805.874130,13321.877044,15662.943000,22857.454206,0.232561
50%,43544.000000,3623.500000,29071.000000,4700.000000,1.569624e+05,1.324472e+05,16133.314013,22586.817447,21895.503377,26986.680114,38453.247932,0.489578
75%,78451.000000,5616.250000,42080.000000,6640.000000,2.691348e+05,2.334740e+05,38367.964320,48261.377066,35605.921153,49598.034408,74372.854907,0.736285
max,99701.000000,9900.000000,56033.000000,9320.000000,1.588743e+06,1.449674e+06,164893.749695,196115.965679,263602.412089,330927.477608,605968.379128,0.999887

In [7]:
food.columns

Index(['NAME', 'CITY', 'STATE', 'ZIP', 'ZIP_PLUS4', 'COUNTY_CODE',
       'COUNTY_NAME', 'MSA', 'MARKET_SEGMENT', 'SIMPLIFIED_MENU', 'MENU_TYPE',
       'UNITS', 'EMPLOYEES', 'YEARS_IN_BUSINESS', 'ANNUAL_SALES',
       'AVERAGE_CHECK', 'NUMBER_OF_ROOMS', 'FOOD_BEVERAGE_PURCHASE',
       'FOOD_PURCHASE', 'BEVERAGE_PURCHASE', 'TOTAL_CATEGORY_DRY',
       'TOTAL_CATEGORY_FRESH', 'TOTAL_CATEGORY_FROZEN',
       'TOTAL_CATEGORY_PROTEIN', '% Share of F&B Purchases from Company'],
      dtype='object')

In [8]:
food.isnull().sum()

NAME                                       0
CITY                                       0
STATE                                      0
ZIP                                        0
ZIP_PLUS4                                 38
COUNTY_CODE                                1
COUNTY_NAME                                1
MSA                                      174
MARKET_SEGMENT                             0
SIMPLIFIED_MENU                            0
MENU_TYPE                                  0
UNITS                                      0
EMPLOYEES                                  0
YEARS_IN_BUSINESS                          0
ANNUAL_SALES                               0
AVERAGE_CHECK                              0
NUMBER_OF_ROOMS                            0
FOOD_BEVERAGE_PURCHASE                   111
FOOD_PURCHASE                            111
BEVERAGE_PURCHASE                        111
TOTAL_CATEGORY_DRY                       111
TOTAL_CATEGORY_FRESH                     111
TOTAL_CATEGORY_FROZEN                    111
TOTAL_CATEGORY_PROTEIN                   111
% Share of F&B Purchases from Company    111
dtype: int64

In [9]:
df = food.copy()

the columns YEARS_IN_BUSINESS and  NUMBER_OF_ROOMS has the same vlaue in the rows so it doesnt have any impact in analysis so we are removing them

In [10]:
df=df.drop(['YEARS_IN_BUSINESS', 'NUMBER_OF_ROOMS'], axis=1)

removing the rows which are null from columns :['FOOD_BEVERAGE_PURCHASE', 'FOOD_PURCHASE', 'BEVERAGE_PURCHASE', 'TOTAL_CATEGORY_DRY', 'TOTAL_CATEGORY_FRESH', 'TOTAL_CATEGORY_FROZEN', 'TOTAL_CATEGORY_PROTEIN', '% Share of F&B Purchases from Company']

In [11]:
columns_to_check = ['COUNTY_CODE','COUNTY_NAME',
    'FOOD_BEVERAGE_PURCHASE', 'FOOD_PURCHASE', 'BEVERAGE_PURCHASE', 
    'TOTAL_CATEGORY_DRY', 'TOTAL_CATEGORY_FRESH', 'TOTAL_CATEGORY_FROZEN', 
    'TOTAL_CATEGORY_PROTEIN', '% Share of F&B Purchases from Company'
]

# Drop rows where any of the specified columns have null values
df_cleaned = df.dropna(subset=columns_to_check)

In [12]:
df_cleaned = pd.DataFrame(df_cleaned)

In [13]:
df_cleaned.isnull().sum()

NAME                                       0
CITY                                       0
STATE                                      0
ZIP                                        0
ZIP_PLUS4                                 30
COUNTY_CODE                                0
COUNTY_NAME                                0
MSA                                      147
MARKET_SEGMENT                             0
SIMPLIFIED_MENU                            0
MENU_TYPE                                  0
UNITS                                      0
EMPLOYEES                                  0
ANNUAL_SALES                               0
AVERAGE_CHECK                              0
FOOD_BEVERAGE_PURCHASE                     0
FOOD_PURCHASE                              0
BEVERAGE_PURCHASE                          0
TOTAL_CATEGORY_DRY                         0
TOTAL_CATEGORY_FRESH                       0
TOTAL_CATEGORY_FROZEN                      0
TOTAL_CATEGORY_PROTEIN                     0
% Share of F&B Purchases from Company      0
dtype: int64

In [14]:
df_cleaned['ZIP_PLUS4'] = df_cleaned['ZIP_PLUS4'].fillna(0)

In [15]:
df_cleaned['MSA'] = df_cleaned['MSA'].fillna(0)

In [16]:
df_cleaned['UNITS'].value_counts()

UNITS
INDEPENDENT (1-9 UNITS)    545
501+ UNITS                 249
101-250 UNITS               32
251-500 UNITS               31
51-100 UNITS                17
10-50 UNITS                 14
Name: count, dtype: int64

In [17]:
df_cleaned['EMPLOYEES'].value_counts()

EMPLOYEES
10 TO 19    295
5 TO 9      257
1 TO 4      148
20 TO 49    142
OVER 50      42
UNKNOWN       4
Name: count, dtype: int64

In [17]:
df_cleaned['ANNUAL_SALES'].value_counts()

ANNUAL_SALES
<=$500,000                 434
$500,001 - $1,000,000      270
$1,000,001 - $2,500,000    148
$2,500,001 - $5,000,000     35
>$5,000,000                  1
Name: count, dtype: int64

In [18]:
df_cleaned['AVERAGE_CHECK'].value_counts()

AVERAGE_CHECK
$15 TO $20    246
$7 TO $10     228
$5 TO $7      188
$10 TO $15    113
UNDER $5       58
$30 TO $50     37
$20 TO $30      9
$50 TO $75      8
UNCODED         1
Name: count, dtype: int64

In [19]:
df_cleaned['MENU_TYPE'].value_counts()

MENU_TYPE
VARIED MENU                                      121
PIZZERIA                                         105
MEXICAN                                           87
SANDWICHES                                        69
COFFEE / TEA                                      67
HAMBURGERS                                        55
ITALIAN - PIZZA & PASTA                           43
AMERICAN TRADITIONAL                              37
CHINESE                                           35
JAPANESE                                          27
DELI                                              25
SEAFOOD & FISH                                    23
FRIED CHICKEN                                     21
BAR & GRILL                                       20
BARBECUE                                          18
ICE CREAM / DAIRY                                 17
ASIAN UNCLASSIFIED                                14
FAMILY STEAK / CHOPHOUSE                          13
THAI                                              10
SUSHI                                             10
STEAK & SEAFOOD                                    9
FRENCH                                             7
CHICKEN WINGS                                      5
VIETNAMESE                                         5
GREEK                                              5
SMOOTHIE / JUICE                                   5
INDIAN / PAKISTANI / BANGLADESHI / SRI LANKAN      4
OTHER ETHNIC FOOD UNCLASSIFIED                     3
HOT DOGS                                           3
SOUTHWESTERN / TEX-MEX                             3
SUBS                                               2
AFRICAN                                            2
FUSION                                             2
SOUTHERN & SOUL                                    2
MIDDLE EAST (EGYPTIAN, SYRIAN, IRANIAN)            2
OTHER LATIN AMERICA                                2
KOREAN                                             2
MEDITERRANEAN                                      2
CHICKEN ROTISSERIE                                 1
PUB / BREW PUB                                     1
CARIBBEAN                                          1
DONUTS                                             1
VEGETARIAN                                         1
HAWAIIAN                                           1
Name: count, dtype: int64

In [20]:
df_cleaned=df_cleaned.replace(['UNKNOWN', 'UNCODED'], 0)

In [21]:
df_cleaned

,NAME,CITY,STATE,ZIP,ZIP_PLUS4,COUNTY_CODE,COUNTY_NAME,MSA,MARKET_SEGMENT,SIMPLIFIED_MENU,...,ANNUAL_SALES,AVERAGE_CHECK,FOOD_BEVERAGE_PURCHASE,FOOD_PURCHASE,BEVERAGE_PURCHASE,TOTAL_CATEGORY_DRY,TOTAL_CATEGORY_FRESH,TOTAL_CATEGORY_FROZEN,TOTAL_CATEGORY_PROTEIN,% Share of F&B Purchases from Company
0,APPLEBEE'S,POTTSTOWN,PA,19464,0.0,42091.0,MONTGOMERY,6162.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,"$1,000,001 - $2,500,000",$10 TO $15,5.972901e+05,5.450067e+05,52283.413973,73292.586865,96286.339607,124412.626443,212623.779075,0.578681
1,STANS RESTAURANT,SAN LEANDRO,CA,94577,3236.0,6001.0,ALAMEDA,7362.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,"<=$500,000",$15 TO $20,3.974294e+04,3.626407e+04,3478.873227,4876.797417,6406.773077,8278.261162,14147.721358,0.339348
2,THANH THANH,OAKLAND,CA,94606,2978.0,6001.0,ALAMEDA,7362.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,"<=$500,000",$15 TO $20,3.974294e+04,3.626407e+04,3478.873227,4876.797417,6406.773077,8278.261162,14147.721358,0.646409
3,DOMINO'S PIZZA,WENDELL,NC,27591,6904.0,37183.0,WAKE,6640.0,"LSR - QUICK SERVICE RESTAURANTS, FAST FOOD, SN...","PIZZA, PASTA & ITALIAN",...,"$500,001 - $1,000,000",$7 TO $10,2.826061e+05,2.313297e+05,51276.433054,49474.097973,27035.026215,58876.279313,53078.768135,0.797020
4,NINNA RESTAURANT,OAKLAND,CA,94611,5221.0,6001.0,ALAMEDA,7362.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",OTHER ASIAN,...,"<=$500,000",$15 TO $20,4.264537e+04,4.004276e+04,2602.607391,6395.821567,8260.449546,5938.274331,15827.198446,0.655083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,SUBWAY,CARROLLTON,TX,75010,6337.0,48121.0,DENTON,1922.0,"LSR - QUICK SERVICE RESTAURANTS, FAST FOOD, SN...","SANDWICHES, SOUPS AND SALADS, DELI, SUBS & HOT...",...,"<=$500,000",$5 TO $7,1.264464e+05,1.082253e+05,18221.074108,20302.620653,19035.592321,27723.786598,26652.845984,0.987625
996,RED LOBSTER,INGLEWOOD,CA,90303,1264.0,6037.0,LOS ANGELES,4472.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING","STEAK, SEAFOOD & FISH",...,"$2,500,001 - $5,000,000",$10 TO $15,1.096238e+06,1.026739e+06,69498.776116,142453.292480,191473.607862,182514.281291,440158.915398,0.599890
997,REYNOLDS CAFE,NAUGATUCK,CT,6770,3216.0,9009.0,NEW HAVEN,5602.0,"FSR - CAF╔-RESTAURANTS, FAMILY-STYLE, DINER",CLASSIC & VARIED MENU,...,"<=$500,000",$15 TO $20,4.240708e+04,3.843948e+04,3967.601528,5235.276904,6858.790982,9732.188501,13174.927943,0.302793
998,PUEBLO VIEJO,PORT SAINT LUCIE,FL,34952,5469.0,12111.0,SAINT LUCIE,2710.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING",CLASSIC & VARIED MENU,...,"<=$500,000",$15 TO $20,8.948728e+04,8.165407e+04,7833.212973,10980.852218,14425.825462,18639.765949,31855.749617,0.497217
999,BUFFALO WILD WINGS,DEARBORN,MI,48124,2225.0,26163.0,WAYNE,2162.0,"FSR - TRADITIONAL RESTAURANTS, CASUAL DINING","BAR & GRILL, BREW PUB, & EATERTAINMENT",...,"$1,000,001 - $2,500,000",$10 TO $15,5.653861e+05,5.257160e+05,39670.082460,73253.221050,91863.877018,114742.390183,199189.990762,0.666672

In [18]:
df_cleaned.to_excel('/Users/saurabhingole/Downloads/bepec/Data Analytic Project-2/cleaned data.xlsx')

In [23]:
from sqlalchemy import create_engine

In [24]:
import urllib.parse

# Encode the password
password = urllib.parse.quote_plus('S@urabh7')

# Create the engine with the encoded password
engine = create_engine(f"mysql+pymysql://root:{password}@localhost:3306/Food_Services", pool_pre_ping=True)#root is username
#S@urabh7 is a password
#localhost is a username 
#Food_Services is a database 
#connection between the python and sql will be establish by the sql alchemy

In [25]:
try:
    df_cleaned.to_sql('food_data', con=engine, if_exists='append', index=False)
    print("Data inserted successfully!")
except Exception as e:
    print(f"Error: {str(e)}")

Data inserted successfully!